#body{
  text-align: center;
}
#two{
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  color: white;
  background-color: rgb(51, 176, 218);
  border-radius: 10px;
  border: none;
  margin: 100px; 
  outline: none;

}

